* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ff9900;
    touch-action: manipulation;
}

#bell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bell-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
} 